@import '../../constants/colors';

$block: 'button';

.#{$block} {
  color: $wild-sand;
  background-color:$bunting;
  height: 24px;
  cursor: pointer;
  display: block;
  padding: 5px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  border: 0;
}
